# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:

weather_df = pd.read_csv(r'C:\Users\quila\Desktop\python-api-challenge\WeatherPy\weather_df.csv')
weather_df.dropna(inplace = True)
weather_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Luohe,33.57,114.04,298.35,89,0,2.04,CN
1,1,Lagoa,39.05,-27.98,296.63,86,100,11.79,PT
2,2,Maniitsoq,65.42,-52.90,282.12,65,0,4.94,GL
3,3,Ushuaia,-54.80,-68.30,274.15,84,75,14.40,AR
4,4,Jamestown,42.10,-79.24,294.82,77,90,5.10,US
...,...,...,...,...,...,...,...,...,...
569,569,Kargopol',61.51,38.95,281.56,88,25,2.47,RU
570,570,Port Keats,-14.25,129.55,295.11,90,7,0.77,AU
571,571,Bonthe,7.53,-12.51,297.66,81,100,4.50,SL
572,572,Ōkuchi-shinohara,32.07,130.62,298.71,83,0,1.79,JP
573,573,Aksu,41.12,80.26,297.35,26,17,0.81,CN

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
import gmaps

# Google developer API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key="AIzaSyCyYiSTf-rMZmHDs6EiF8nQzUFlJTUYSY0")

# Create a list containing coordinates and Humidity as weight
coordinates = weather_df[["Latitude", "Longitude"]]
humidity = weather_df["Humidity"].astype(float)

In [17]:
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=True, max_intensity=90,
                                 point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [43]:
df1 = weather_df[weather_df["Max Temp"] < 300]
df2 = df1[df1["Max Temp"] > 294]
df3 = df2[df2["Wind Speed"] < 10]
df4 = df3[df3["Cloudiness"] == 0]
hotel_df = df4.dropna()

hotel_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Luohe,33.57,114.04,298.35,89,0,2.04,CN
30,30,Rikitea,-23.12,-134.97,294.40,79,0,6.06,PF
56,56,Salamanca,40.83,-6.00,295.93,46,0,0.89,ES
94,94,Lumeje,-11.55,20.78,294.48,22,0,1.96,AO
167,167,Kieta,-6.22,155.63,298.24,79,0,1.61,PG

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [59]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}


# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    


    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    #try:
        ##cities_pd.loc[index, "Airport Name"] = name_address["results"][0]["name"]
        ###cities_pd.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        #cities_pd.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    #except: 
    #print("Missing field/result... skipping.")
    
print(name_address)

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure